.App{
    display: flex;
    flex-direction: column;
    font-family: OpenSans,Arial,sans-serif;
    font-size:1.1em;
    align-items: center;
    
}

nav{
    display:flex;
    flex-direction:row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
   
    
}
header{
    width: -webkit-fill-available;
}

.topLogo{
    max-width:100%;
    width:40%;
    height: 3em
}

nav a{
    text-decoration: none;
    color: black;
    font-size:1.1em;
    font-weight: 600;
    margin:1em;
    display: inline-block
}



main{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
    width:90%;
    align-self: center;
    align-items: center;
    gap:2em;
    overflow:hidden
}

.banner img {
    max-width:100%;
    float:right;
    border-radius:16px;
    margin-bottom:-5em;
    margin-left:-4.5em;
    height:20em;
    object-fit:cover;
    width:20em
    
}

.banner{
    animation-name: slidein;
    border-radius:4px;
    animation-duration: 1s;
    width:100%;
    background: #495E57;
    color:white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
    justify-items:center;
    padding:1em;
}

.lemon{
    width: 40%;
    
}
.banner h1{
    color: #8F872E;
    margin-bottom: -0.7em
}
.specials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 4em;
     width: 70%

   
}
.specials h1{
     color: black
}
.reserve{
    color: black;
    background: #F4CE14;
    border:none;
    height:4em;
    width:12em;
    font-weight:600;
    border-radius:16px
}
.promo{
    color: white;
    position: absolute;
    top:0;
    left:0;
    width:80%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap:1.5em;
    padding:1em;
    text-shadow: 1px 1px 2px black;
}

.columns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1.5em;
     width: 70%
    
    
    
}

.section img{
    max-width:100%;
    width: 30em;
    height:16em;
    overflow: hidden;
    float:right;
    border-radius: 4px;
    object-fit: cover;
}

.section{
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    background: #EDEFEE;
    height:100%;
    align-items:center;
    box-shadow: 1px 0px 4px 0px rgba(0, 0, 0, 0.2)
}


footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    align-self: center;
}

footer img{
    width:5em; 
    overflow: hidden
}

.copyright{
    border-top: 2px solid black;
    text-align: end;
    margin-top: 1em;
    font-weight:600;
    font-size: 1em
}

h2 {
     font-weight:bolder;
     font-size: 1.6em
}
 
img{
     filter: saturate(1.2) contrast(1.1)
}
 
@keyframes slidein {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

a:active {
    opacity: 0.5;
}
a:hover {
    opacity: 0.5;
}


@media screen and (max-width: 755px) {
    .columns{
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 2em;
    }
    .banner{
        overflow: unset;
    }
    .banner img{
        height:15em;
    }
    .promo{
        position: relative;
        color: #333333;
        font-size: 1em;
        width:100%;
        gap:0
    }
    nav{
        display: flex;
        flex-direction: column
    }
}

::placeholder, .flatpickr-input {
    color: black!important;
    outline:none!important;
     border: none;
     background: inherit;
     text-align: center;
     font-size: 1.1em;
     margin: 1em
}
.description{
    padding: 1em;
    color: #4B6059;
}
.confirm{
    background: #405C53;
    padding: 1.5em;
    width:9em;
    border-radius: 8px
}
.flatpickr-weekdays, span.flatpickr-weekday, .flatpickr-months, .flatpickr-month, .flatpickr-current-month, .flatpickr-monthDropdown-months, .flatpickr-monthDropdown-months, .flatpickr-monthDropdown-months, .flatpickr-monthDropdown-month {
    background: #405C53!important
}